# .NET Core
bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Docker
**/[Dd]ockerfile
**/[Dd]ocker-compose*
**/*.tar

# Visual Studio
.vscode/
.vs/
.vscode/*
.vs/*

# Rider
.idea/
.idea/*

# Logs
*.log
logs/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Entity Framework
*.mdf
*.ldf
*.ndf

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code directories
.vscode/
.vscode/*

# Local History for JetBrains IDEs
.localhistory/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
